.about{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}
.content_img > img{
    width: 363px;
    height: 446px;
    border-radius: 300px;
    object-fit: cover;
    object-position: top;
}

.about_self{

    display: flex;
    flex-direction: column;
    width: 450px;
}

.italic_text{
    font-style: italic;
    color: rgb(68, 152, 207);
    font-weight: 700;
    text-transform: uppercase;
}

.italic_text:hover{
    font-style: oblique;
    font-weight: 500;
}