.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(79, 16, 80);
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
.header_right{
    display: flex;
    align-items: center;
    margin-right: 20px;
    /* flex-direction: ; */
}
.header_left > h4{
    font-size: 19px;
}
.header_left{
    margin-left: 5rem;
    display: flex;
    align-items: center;
}
.header_left > span{
    margin-left: 1rem;
    font-size: small;
    /* display: flex;
    align-items: center; */
}
.laptop_icon{
    padding-left: 5px;
}
 .headerOption_Avatar{
    object-fit: contain;
    height: 25px !important;
    width: 25px !important;
    padding: 10px;
}