.resume_work, .resume_projects{
    display: flex;
    justify-content: space-around;
    
}
h2{
    width: 200px;
    text-align: left;
}

.resume_header{
    text-align: left;
}

.resume_title{
    text-align: left;
    margin-left: 8rem;
    margin-top: 2rem;
}
.content_img1 > img{
    width: 363px;
    height: 446px;
    border-radius: 300px;
    object-fit: cover;
    object-position: top;
}


.resume{
    /* background-color: rgb(248, 247, 247);*/
    padding-bottom: 5rem;
}