*{
  font-family:  cursive
}
.App {
  text-align: center;
  background-color: aliceblue;
}
h1{
  margin-top: 20px;
}
.colorBlack{
  color: black;
  cursor: pointer;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.fontSize18{
  font-size: 17px;
}
h4{
  font-size: 21px !important;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}
.headerOption_title{
  font-size: 20px;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  /* background-color: #333; */
  background-color: #7e57c2; /* Match the same purple color as the header */

  color: #fff;
  padding: 20px 0;
  text-align: center;
  height: 20px;
  display: flex;
  justify-content: center;
  flex-basis: 1;
}
#root {
  flex: 1;
}
html, body {
  height: 100%;
  margin: 0;
}